body{
    background-color: #f4f4f4;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-style: outset;
    border-width: 30px;

}

.border{
    background-color: #fcf1f1;
    border-style: outset;
    border-width: 10px;
    position: relative;
 
}
.interests{
    position: absolute;
    left: 45rem;
    bottom: -15rem;
    
}
.skill{
    position: absolute;
    left: 46rem;
    bottom: -47rem;
}
.box{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #e6d5b8;
}

.border-menu{
    background-color:  #fcf1f1;
    z-index: 1;
    border-style: double;
    border-width: 5px;
}
.contact{
    position: relative;
    right: 25rem;
}
.pembatas{
    background-color: #495464;
    width: 40%;
    height: 225.9%;
    position: absolute;
    z-index: -5;
    opacity: 0.5;
}